<HTML>
  <HEAD>
    <TITLE>{{ data['Full Title'] }}</TITLE>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </HEAD>
  <!-- ========= Here starts the body ============================================================= -->
  <body>
