<div id="results">
    <table>
        <tr><td colspan=2>
            {{ data['Full Title'] }}
            <P ALIGN=CENTER><FONT SIZE=-1>{{ data['datetag'] }}</FONT></P>
        </td></tr>
        <tr><td class="contact">
        Contact: <a href="mailto:{{ data['email_address'] }}">{{ data['email_label'] }}</a>
        </td></tr>
        <tr><th class="lefttitle">Content</th><th class="righttitle">Preview</th></tr> 
        <tr><td class="maindocumenttitle">
            <a HREF="#figures">Figures</A>
            {% if data['tables'] %}
                <a href="#tables">Tables</a>
            {% endif %} 
            {% if data['auxiliary'] %}
                <a href="#auxstuff">Auxiliary Material</a>
            {% endif %} 
            </td>
            <td class="maindocumenttitle">-</td></tr>
        <tr><td class="auxfiguretitle" colspan=2><a name="figures">Figures</a></td></tr>
