</TABLE>
</div>
<font color="#999999"><font size="-1"><center>© {{ data['data_copyright']}} </center></font></font>
<font color="#999999"><font size="-1"><center>Reproduction of the article, figures and tables on this page is allowed as specified in the <a href="https://creativecommons.org/licenses/by/4.0/legalcode" style="color: #999999; TEXT-DECORATION: underline">CC-BY-4.0</a> license.</center></font></font></br>
<font color="#999999"><font size="-1"><center>{{ data['data_now'] }}</center></font></font></br>
</div><!-- /patternBottomBar-->
</body>
</html>
